.navBgColor {
    background-color: #000324;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    outline: 2px solid white;
}

.offcanvas {
    background-color: #000324;
}

.offcanvas-header {
    color: white;
    padding-top: 3rem;
    padding-left: 1.25rem;
}

.offcanvasNav > .nav-item {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}


.btn-close {
    font-size: 1.50rem;
}
@media only screen and (max-width: 424px) {
    .border-content {
        padding: 5% 5%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 425px) {
    #desktopLogo {
        display: none;
    }
    #mobileLogo {
        visibility: visible;
    }
    .border-content {
        padding: 6% 10%;
        font-size: 30px;
    }
    
}

@media screen and (min-width: 992px) {
    #desktopLogo {
        visibility: visible;
    }
    #mobileLogo {
        display: none;
    }

    .border-content {
        padding: 5% 10%;
        font-size: 45px;
    }

}

.hero {
    background-image: url(/images/header.jpg);
    height: 55vh;
    background-size: cover;
    background-position-y: 55%;
    position: relative;
}

.border-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #000324;
    white-space: nowrap;
    opacity: 0.8;
    background-size: cover;
}
